<?xml version="1.0"?>
<ruleset name="PSR12">
    <description>The PSR12 coding standard.</description>

    <file>src</file>
    <file>tests</file>

    <!-- Show progression -->
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php" />
    <arg name="colors"/>
    <arg value="p"/>

    <!-- Run against the PHPCompatibility ruleset -->
    <rule ref="PHPCompatibility"/>
    <!-- Check for cross-version support for PHP 7.4 and higher. -->
    <config name="testVersion" value="7.4-"/>

    <rule ref="PSR12"/>

</ruleset>
